/containers/mysql/*
/src/node_modules
/src/public/hot
/src/public/js
/src/public/css
# /src/bootstrap
# /src/storage/app/public/*
/src/bootstrap/cache/*
/src/public/js
/src/public/css
/src/storage/framework/*
/src/storage/logs/*
/src/storage/*.key
/src/vendor
/src/.env
/src/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
src/yarn-error.log










