/containers/mysql/*
/src/node_modules
/src/public/hot
/src/public/storage/framework
/src/public/storage/logs
/src/storage/*.key
/src/vendor
/src/.env.backup
/src/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
src/yarn-error.log