/* 
    Start Style Struktur Pengurus
*/
#strukturPengurus {
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
    background-color: #FBFBFB;
}

#strukturPengurus .head_strukturPengurus {
    padding: 0 6%;
}

#strukturPengurus .head_strukturPengurus h2 {
    font-weight: 700;
    font-size: 24px;
}

#strukturPengurus .border_heading_strukturPengurus {
    padding: 2px;
    width: 155px;
    background-color: #5996EC;
}

.link_selengkapnya_struktur_pengurus span {
    color: #0078C1;
    font-size: 20px;
    display: inline-block;
    transform: translate(0, 0);
    transition: all 0.5s ease-in-out;
}

.link_selengkapnya_struktur_pengurus:hover span {
    transform: translate(8px, 0);
}

.multi-item-carousel {
    padding: 0 6%;
}

.multi-item-carousel .owl-carousel .item img {
    width: 100%;
}

.overlay_multiple_item_carousel:hover {
    opacity: 1;
}

.overlay_multiple_item_carousel {
    opacity: 0;
    transition: all 0.9s ease-in-out;
    color: #F4F4F9;
    z-index: 9;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: rgba(38, 56, 64, 0.5);
}

.content_overlay_multiple_item_carousel {
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    line-height: 18px;
}

.sossial_media_multiple_carousel {
    gap: 16px;
}

.name_text_overlay {
    font-size: 24px;
    font-weight: 700;
}

.role_text_overlay {
    font-weight: 500;
}

.multi-item-carousel .owl-prev {
    height: 100px;
    position: absolute;
    top: 35%;
    left: -5%;
}

.multi-item-carousel .owl-next {
    height: 100px;
    position: absolute;
    top: 35%;
    right: -5%;
}

@media screen and (min-width: 768px) {


    /* 
        Start Struktur Pengurus style
    */

    #strukturPengurus .head_strukturPengurus h2 {
        font-size: 48px;
    }

    #strukturPengurus .border_heading_strukturPengurus {
        width: 310px;
    }

}

@media screen and (min-width: 992px) {}