@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
/* 
    font-family: 'Barlow', sans-serif;  
    font-family: 'Tinos', serif;
    font-family: 'Zeyada', cursive;
*/

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    top: 0 !important;
    padding: 0;
}

/* 
    Start Jumbotron 
*/
.carousel-indicators .active {
    width: 137px;
    transition: all 0.3s ease-in-out;
    background-color: #0078C1 !important;
}

.wrap_jumbotron_logo {
    height: 340px;
}

.jumbotron_logo {
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    top: 0;
    bottom: 0;
}

.welcome_text {
    text-align: center;
    height: 260px;
}


.welcome_text h1 {
    font-weight: 700;
    font-size: 1.5em;
}

.welcome_text p {
    font-weight: 500;
    font-size: 16px;
}

.carousel_jumbotron .carousel-item img {
    height: 300px;
    object-fit: cover;
}



.carousel_jumbotron .carousel-item .overlay_carousel_jumbotron {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgba(38, 56, 64, 0.5);
    padding: 0 5%;
    color: white;
    font-family: 'Tinos', serif;
}

.date_author {
    font-weight: 500;
}

.carousel_jumbotron .carousel-item .overlay_carousel_jumbotron .content_overlay_carousel_jumbotron h2 {
    font-size: 24px;
    max-width: 24rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.carousel_jumbotron .carousel-item .overlay_carousel_jumbotron .content_overlay_carousel_jumbotron p {
    font-size: 16px;
    font-weight: 400;
    max-width: 24rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 
    End Jumbotron 
*/


main {
    width: 100%;
    margin: 0 auto;
}

/* 
    Start Style Berita Acara

*/
.border-top-news-events {
    border-top: 1px solid rgba(38, 56, 64, 0.5);
}

.berita-acara {
    margin: 0px 8px;
}

.title-berita-acara {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 3px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: hsl(215, 79%, 64%);
}

.subtitle-berita {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.title-berita-acara {
    margin-top: 30px;
}

.tanggal-berita {
    margin-top: 30px;
    font-weight: 500;
}

.title-berita {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Tinos', serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content-berita {
    overflow: hidden;
    padding: 8px 8px;
    background-color: #F8F8F8;
}

.content-berita p {
    font-size: 1em;
}

.content-berita .cover-berita {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    display: block;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content-berita:hover .cover-berita {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.img-wrap {
    overflow: hidden;
    border-radius: 3px;
}

.btn_switch_category_event {
    width: 100%;
    background-color: #F8F8F8;
    border: 0px;
    color: #000;
    margin-bottom: 20px;
}

.btn_switch_category_event:hover {
    background-color: #F8F8F8;
    border: 1px solid #5996ec;
    color: #000;
}

.show>.btn-secondary.btn_switch_category_event {
    background-color: #F8F8F8;
    border: 1px solid #5996ec;
    color: #000;
}

.item_event {
    border: none;
    border-radius: 3px;
    /* margin-bottom: 20px; */
}

.item_event[aria-expanded="false"] .content-event .col-1 img {
    transform: rotate(0);
    transition: all 0.5s ease-in-out;
}

.item_event[aria-expanded="true"] .content-event .col-1 img {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}

.card-body {
    background-color: #F8F8F8;
}

.content-event {
    line-height: 20px;
    color: #FFFFFF;
    background-color: #263840;
    margin-bottom: 20px;
    text-align: center;
}

.date_start_event {
    font-weight: 700;
    font-size: 20px;
}

.event_location_province {
    font-size: 1em;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .border_split {
    border-bottom: 1px solid #5996EC;
} */

.filter_events {
    width: 100%;
    background-color: #F8F8F8;
    height: 44px;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    font-weight: 700;
    padding-left: 8px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url('../../public/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
}

.filter_events:focus {
    border: #d8d8d8;
    outline-color: #a8a8a8;
}


.name_event_header {
    font-size: 1em;
    padding-top: 12px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title-event {
    font-size: 25px;
    font-weight: bold;
}

.detail-event p {
    font-size: 16px;
    margin-bottom: 0 !important;
    font-weight: medium;
}

.link_detail_event {
    font-size: 24px;
    color: #000;
    text-decoration-style: none;
    font-weight: 500;
}

.link_detail_event:hover {
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
}

.link_detail_event span {
    transform: translate(0, 0);
    display: inline-block;
    color: #5996EC;
    transition: all 0.3s ease-in-out;
}

.link_detail_event:hover span {
    transform: translate(16px, 0);
}

.btn_show_more_berita_landing {
    background-color: transparent;
    padding: 7px 24px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn_show_more_berita_landing:hover,
.btn_show_more_berita_landing:focus,
.btn_show_more_berita_landing:active {
    background-color: #FFCE51;
    outline: none;
    border: none;
    transform: translate(0, -5px);
}

/* 
    End Style Berita Acara
*/


/* 
    START STYLE TENTANG IMI
*/
#tentangIMI {
    background-color: #F4F4F9;
    font-weight: 500;
    font-size: 1em;
}

.wrap_tentangImi {
    padding: 8% 5%;
    text-align: justify;
    text-justify: inter-word;
}

.wrap_tentangImi .signature_imijabar {
    font-family: 'Tinos', serif;
    text-align: center;
    font-size: 1.15em;
}

.wrap_tentangImi .signature_imijabar img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 45px;
    width: 70%;
}

.wrap_tentangImi .signature_imijabar p span {
    font-size: 64px;
    top: -24px;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrap_tentangImi .signature_imijabar .signature_text {
    font-family: 'Zeyada', cursive;
    font-size: 1.5em;
}

.selengkapnya_tentangImi {
    font-family: 'Barlow', sans-serif;
    color: #000000;
    font-size: 0.7em;
    text-decoration: none;
}

.selengkapnya_tentangImi:hover {
    text-decoration: none;
}

.slide_tentangImi1 {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.slide_tentangImi2 {
    margin-top: 16px;
}

.wrap_background_imi {
    border-top: 1px solid rgba(38, 56, 64, 0.5);
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);

}

.image_border_right {
    border-right: 1px solid rgba(38, 56, 64, 0.5);
    ;
}

.image_border_left {
    border-left: 1px solid rgba(38, 56, 64, 0.5);
}

/* 
    END STYLE TENTANG
*/


/* 
    Start Style Newsletter
*/
#newsletter {
    background-color: #F4F4F9;
}

.wrap_newsletter {
    text-align: justify;
    text-justify: inter-word;
    padding: 8% 5%;
}

.wrap_newsletter h3 {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.wrap_newsletter h3 span {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.postMailIcon {
    width: 40%;
    margin-bottom: 8%;
}


.input_newsletter {
    width: 100%;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
    font-weight: 500;
    color: #7a7a7a;
    height: 32px;
    padding: 8px;
}

.button_newsletter {
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 0;
}

/* 
    End Style Newsletter
*/



/* Tablet Style */
@media screen and (min-width: 768px) {

    /* 
        Start Jumbotron style
    */
    .wrap_section_1 {
        height: 100%;
        overflow: hidden;
    }

    .jumbotron_logo {
        left: 95px;
        margin: 0;
        width: 164px;
        top: 74px;
        bottom: 0;
    }

    .welcome_text {
        text-align: center;
        width: 100%;
        padding: 0 16px;
    }

    .welcome_text h1 {
        font-size: 32px;
    }

    .welcome_text p {
        font-size: 20px;
    }

    .carousel_jumbotron .carousel-item .overlay_carousel_jumbotron {
        padding: 0 100px 0 76px;
    }

    .carousel_jumbotron .carousel-item img {
        height: 601px;
        object-fit: cover;
    }

    .carousel_jumbotron .carousel-item .overlay_carousel_jumbotron .content_overlay_carousel_jumbotron h2 {
        font-size: 32px;
        max-width: 50rem;
    }

    .carousel_jumbotron .carousel-item .overlay_carousel_jumbotron .content_overlay_carousel_jumbotron p {
        max-width: 50rem;
        -webkit-line-clamp: 4;
    }

    /* 
        End Jumbotron style
    */



    /* 
        Start Style Berita Acara
    */
    .content-berita {
        border-bottom: 1px solid rgba(38, 56, 64, 0.5);
        padding: 16px 16px;
    }

    .title-berita-acara {
        font-size: 30px;
    }

    .title-berita {
        font-size: 32px;
    }

    .content-event {
        text-align: left;
    }

    .filter_events {
        border: none;
    }

    /* 
        End Style Berita Acara
    */


    /* 
        Start TentangIMI style
    */
    .wrap_tentangImi {
        padding: 8% 4%;
    }

    .wrap_tentangImi .signature_imijabar .signature_text {
        font-size: 48px;
    }

    /* 
        End TentangIMI style
    */

    /* 
        Start Newsletter style
    */
    .wrap_newsletter {
        padding: 8% 4%;
    }

    .wrap_newsletter h3 {
        font-size: 48px;
        font-weight: 700;
        font-style: italic;
    }

    .wrap_newsletter h3 span {
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
    }

    .postMailIcon {
        width: 25%;
        margin-bottom: 8%;
    }

    .input_newsletter {
        width: 100%;
        border: none;
        background-color: #F8F8F8;
        font-size: 24px;
        font-weight: 500;
        color: #7a7a7a;
        height: 68px;
        padding: 8px;
    }

    .button_newsletter {
        height: 68px;
    }

    /* 
        End Newsletter style
    */


}

@media screen and (min-width: 992px) {

    /* 
        Start Jumbotron Style
    */

    .welcome_text {
        text-align: left;
        padding: 0 0 0 100px;
    }

    .welcome_text h1 {
        font-size: 48px;
    }

    .welcome_text p {
        font-size: 24px;
    }

    /* 
        End Jumbotron Style
    */

    /* 
        Start Berita Acara style
    */
    .title-berita-acara {
        font-size: 48px;
        font-weight: bold;
        padding-bottom: 3px;
    }

    .berita-acara {
        margin: 0px 90px;
    }

    /* .border_title {
        width: 130px;
    } */


    .content-berita {
        border-bottom: 1px solid rgba(38, 56, 64, 0.5);
        padding: 28px 32px;
    }

    .tanggal-berita {
        margin-top: 0px;
    }

    .title-berita {
        font-size: 36px;
    }

    .content-berita .cover-berita {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 3px;
    }


    .content-event {
        /* padding: 19px 16px; */
        background-color: #263840;
        margin-bottom: 20px;
    }


    .tgl-event {
        font-size: 1.5em;
    }

    .card-body {
        background-color: #F8F8F8;
    }

    .title-event {
        font-size: 24px;
        font-weight: bold;
    }

    /* 
        End Style Berita Acara
    */

    /* 
        Start TentangIMI Style
    */
    .wrap_tentangImi .signature_imijabar p span {
        font-size: 144px;
        top: -90px;
    }

    .wrap_tentangImi .signature_imijabar {
        text-align: right;
        font-size: 32px;
    }

    .wrap_tentangImi .signature_imijabar img {
        margin-left: unset;
        margin-right: unset;
        left: unset;
        right: 0;
        /* text-align: center; */
        bottom: 60px;
        width: 45%;
    }

    .selengkapnya_tentangImi {
        font-family: 'Barlow', sans-serif;
        font-size: 24px;
    }

    .slide_tentangImi2 {
        line-height: 38px;
    }

    #tentangIMI {
        font-size: 24px;
    }

    /* 
        End TentangIMI Style
    */


    /* 
        Start Newsletter Style
    */
    .postMailIcon {
        width: 75%;
        margin-bottom: 8%;
        float: right;
    }

    /* 
        End  Newsletter Style
    */
}

@media screen and (min-width: 2300px) {
    main {
        max-width: 2300px;
    }
}
