@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
/* 
    font-family: 'Barlow', sans-serif;  
    font-family: 'Tinos', serif;
    font-family: 'Zeyada', cursive;
*/

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

/* Head List Berita */
#header_page_registration_event {
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 40px 0;
    border-bottom: 1px solid rgba(185, 216, 230, 0.5);
}

.head_registration_event {
    padding: 0px 0 10px 0;
    margin: 0 1rem;
    text-align: center;
}

.head_registration_event h1 {
    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: hsl(215, 79%, 64%);
}


.head_registration_event p {
    text-align: center;
    margin: 0 0;
    font-size: 1em;
}

/*  */

.wrap_header_event_register {
    padding: 0 8%;
}

.overlay_image_event_register {
    background: rgba(38, 56, 64, 0.5);
    /* border-radius: 0px 0px 10px 10px; */
}

.content_overlay_image_event_register,
.content_overlay_image_event_register>.card-title {
    font-family: 'Tinos', serif;
    text-align: center;
    font-weight: 700 !important;
    color: #fff;
}

.content_overlay_image_event_register>.card-title {
    font-size: 24px;
    font-weight: 400;
}

.featured_image_event_register {
    min-height: 250px;
    object-fit: cover;
}

.btn_daftar_event {
    color: #f8f8f8;
    background-color: transparent;
    outline: none;
    border: 3px solid #F4F4F9;
    transform: translate(0, 0);
    transition: all 0.8s ease-in-out;
    padding: 4px 16px;
    border-radius: 5px;
}

.btn_daftar_event:hover,
.btn_daftar_event:active,
.btn_daftar_event:focus {
    outline: none;
    border: none;
    transform: translate(0, -5px);
    background-color: #FFCE51;
    color: #111111;
}

/*  */
/* end Head List Berita */

#main_content_registrasi_event {
    margin: 0 auto;
}

#requirements_resgis_event {
    background-color: #F4F4F9;
}

.wrap_requirements_resgis_event {
    padding: 0 0;
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

.wrap_requirements_resgis_event .list_requirements_regis_event {
    font-size: 16px;
    font-weight: 500;
    list-style-type: decimal;
}

.title_requirements_regis_event h2 {
    font-size: 20px;
    font-weight: 700;
}

#tatacara_resgis_event {
    background-color: #f8f8f8;
}

.list_tatacara_registration_event {
    list-style-type: decimal;
    font-size: 16px;
    font-weight: 500;
}

.note_tatacara_registration {
    list-style-type: none;
    text-align: justify;
    margin: 0;
    padding: 0 30px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {

    /* Head List Berita */
    .head_registration_event {
        padding: 40px 0 20px 0;
    }

    .head_registration_event p {
        max-width: 400px;
        margin: 0 auto;
        word-wrap: break-word;
        font-size: 1.2em;
    }

    .head_registration_event h1 {
        font-size: 38px;
    }

    .border_head_title {
        width: 80px;
    }

    /*  */
    .wrap_header_event_register {
        padding: 0 50px;
    }


    .content_overlay_image_event_register>.card-title {
        font-size: 32px;
    }

    /*  */

    /* end Head List Berita */

    .wrap_requirements_resgis_event {
        padding: 0 3%;
    }

    .title_requirements_regis_event h2 {
        font-size: 28px;
    }

    .note_tatacara_registration {
        list-style-type: disc;
    }
}


@media screen and (min-width: 992px) {

    /* Head List Berita */
    .head_registration_event {
        padding: 99px 0 40px 0;
    }

    .head_registration_event p {
        max-width: 500px;
        font-size: 24px;
    }

    .head_registration_event h1 {
        font-size: 64px;
    }

    .border_head_title {
        width: 140px;
    }

    /*  */

    .wrap_header_event_register {
        padding: 0 100px;
    }

    .featured_image_event_register {
        min-height: 377px;
    }

    .content_overlay_image_event_register>.card-title {
        font-size: 48px;

    }

    /*  */

    .fitur_pengembangan_regis_event {
        margin-top: 32px;
        padding: 0 30%;
    }

    /* end Head List Berita */

    .wrap_requirements_resgis_event {
        padding: 0 6.3%;
    }

    .wrap_requirements_resgis_event .list_requirements_regis_event {
        font-size: 24px;
        padding: 0 40px;
    }

    .list_tatacara_registration_event {
        font-size: 24px;
        padding: 0 40px;
        font-weight: 500;
    }

    .title_requirements_regis_event h2 {
        font-size: 48px;
    }

    .note_tatacara_registration {
        font-size: 24px;
        padding: 0 40px;

    }
}

@media screen and (min-width: 2300px) {
    #header_page_registration_event {
        max-width: 2300px;
    }

    #main_content_registrasi_event {
        max-width: 2300px;
    }
}