@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url(./reusable-css/navbar.css);
@import url(./reusable-css/breadcumb.css);
@import url(./reusable-css/footer.css);
/* 
    font-family: 'Barlow', sans-serif;  
    font-family: 'Tinos', serif;
    font-family: 'Zeyada', cursive;
*/

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

/* Head List Berita */
#header_page_list_berita {
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 40px 0;
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

.head_list_berita {
    padding: 0px 0 10px 0;
    margin: 0 1rem;
    text-align: center;
}

.head_list_berita h1 {
    font-family: 'Tinos', serif;
    font-size: 28px;
    font-weight: 700;
}

.border_head_title {
    border-bottom: 3px solid hsl(215, 79%, 64%);
    width: 200px;
    margin: 0 auto;
    margin-top: -4px;
}

.head_list_berita p {
    text-align: center;
    margin: 0 0;
    font-size: 1em;
}

.carousel_head_list_berita {
    margin: 0 14px;
}

.carousel_head_list_berita .carousel-inner .carousel-item img {
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}

.carousel_head_list_berita .carousel-item .carousel-caption {
    text-align: left;
    margin-bottom: 32px;
}

.carousel_head_list_berita .carousel-item .carousel-caption h2 {
    text-decoration: underline;
    font-family: 'Tinos', serif;
    font-size: 1.3em;
    font-weight: 700;
}


.carousel_head_list_berita .carousel-item .carousel-caption p {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel_head_list_berita .carousel-item .carousel-caption .date_author {
    font-weight: 500;
}

.carousel_head_list_berita .carousel-item .carousel-caption .btn_show_jumbotron {
    font-weight: 500;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


.carousel-fade .carousel-item .carousel-caption button {
    opacity: 0;
    transform: translate(-100px, 0);
    transition-duration: .6s;
    transition-property: all;
}

.carousel-fade .carousel-item.active .carousel-caption button {
    opacity: 1;
    transform: translate(0, 0);
    transition-duration: .6s;
    transition-property: all;
}

.overlay_jumbotron {
    border-radius: 8px;
    position: absolute;
    background: rgba(38, 56, 64, 0.5);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.carousel-indicators .active {
    width: 137px;
    transition: all 0.3s ease-in-out;
    background-color: #0078C1 !important;
}

/* Head List Berita */

#main_content_list_berita {
    margin: 0 auto;
}

/* Content List Berita */

#main_content_list_berita {
    background-color: #F8F8F8;
}

.wrap_content_list_berita {
    margin: 0 0;
}

.wrap_content_list_berita .col a {
    text-decoration: none;
    color: rgba(38, 56, 64, 0.5);
}

.wrap_content_list_berita .col a:nth-child(1) {
    text-decoration: none;
    color: #5996EC;
    font-weight: 700;
    font-size: 1em;
}

.wrap_search_berita {
    margin-top: 16px;
    margin-right: 0px;
}

.wrap_list_berita {
    margin: 0 14px;
}

.wrap_list_berita .card {
    border: none;
    background-color: transparent;
}

.wrap_list_berita .card:hover {
    border: 1px solid #5996EC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.wrap_list_berita .card .header_card_image img {
    object-fit: cover;
    max-height: 200px;
    border-radius: 5px 5px 0 0;
}

.wrap_list_berita .card .header_card_image .label_header_card_image {
    background-color: #FFCE51;
    border-radius: 0 0 5px 5px;
}

.wrap_list_berita .card .card-body a {
    color: #111111;
    text-decoration: none;
}

.wrap_list_berita .card .card-body .card-title {
    font-family: 'Tinos', serif;
    font-weight: 700;
    font-size: 18px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wrap_list_berita .card .card-body .author_date_list_berita {
    font-weight: 500;
    font-size: 10px;
}

.wrap_list_berita .card .card-body .card-text {
    font-family: 'Tinos', serif;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn_load_more_list_berita {
    background-color: transparent;
    border: 1px solid #263840;
    padding: 8px 24px;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
    font-weight: 500;
}

.btn_load_more_list_berita:active,
.btn_load_more_list_berita:hover,
.btn_load_more_list_berita:focus {
    background-color: #FFCE51;
    border: none;
    outline: none;
    transform: translate(0, -10px);
}

/* Content List Berita */

/* End Content List Berita */

@media screen and (min-width: 768px) {

    /* Head List Berita */
    .head_list_berita {
        padding: 40px 0 20px 0;
    }

    .head_list_berita p {
        max-width: 400px;
        margin: 0 auto;
        word-wrap: break-word;
        font-size: 1.2em;
    }

    .head_list_berita h1 {
        font-size: 32px;
    }

    .border_head_title {
        width: 230px;
    }

    .carousel_head_list_berita {
        margin: 0 50px;
    }

    .carousel_head_list_berita .carousel-inner .carousel-item img {
        height: 350px;
    }


    .carousel_head_list_berita .carousel-item .carousel-caption {
        text-align: left;
        margin-bottom: 0px;
        margin-left: -20px;
        margin-right: 0;
    }

    .carousel_head_list_berita .carousel-item .carousel-caption p {
        font-size: 1em;
        white-space: unset;
        overflow: visible;
        text-overflow: unset;
    }

    /* Head List Berita */

    /* Content List Berita */
    .wrap_content_list_berita {
        margin: 0 2rem;
    }

    .wrap_content_list_berita .col a:nth-child(1) {
        font-size: 1.2em;
    }

    .wrap_search_berita {
        margin-top: 0;
        margin-left: 2em;
    }

    .wrap_list_berita {
        margin: 0 50px;
    }

    .wrap_list_berita .card .card-body .card-title {
        font-size: 20px;
    }

    /* Content List Berita */
}

@media screen and (min-width: 992px) {

    /* Head List Berita */
    .head_list_berita {
        padding: 99px 0 40px 0;
    }

    .head_list_berita p {
        max-width: 500px;
        font-size: 24px;
    }

    .head_list_berita h1 {
        font-size: 64px;
    }

    .border_head_title {
        width: 460px;
    }

    .carousel_head_list_berita {
        margin: 0 100px;
    }

    .carousel_head_list_berita .carousel-item .carousel-caption {
        text-align: left;
        margin-bottom: 90px;
        margin-left: -20px;
        margin-right: 0px;
    }

    .carousel_head_list_berita .carousel-inner .carousel-item img {
        height: 476px;
    }

    .carousel_head_list_berita .carousel-item .carousel-caption h2 {
        font-size: 36px;
        font-weight: bold;
    }

    .carousel_head_list_berita .carousel-item .carousel-caption p {
        font-size: 1em;
    }

    /* Head List Berita */


    /* Content List Berita */
    .wrap_content_list_berita {
        margin: 0 2.5rem;
    }

    .wrap_content_list_berita .col a:nth-child(1) {
        font-size: 24px;
    }

    .wrap_search_berita {
        margin-right: 50px;
        margin-left: 5em;
    }

    .wrap_list_berita {
        margin: 0 100px;
    }

    .wrap_list_berita .card .card-body .card-title {
        font-size: 24px;
    }

    /* Content List Berita */

}

@media screen and (min-width: 2300px) {
    #header_page_list_berita {
        max-width: 2300px;
    }

    #main_content_list_berita {
        max-width: 2300px;
    }
}